<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Vue JS</title>
</head>
<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>

        <input type="text" id="input" v-model="newName" v-on:keyup.enter="addName">
        <!-- <button v-on:click="addName">Add Name</button> -->
        <!-- alernative -->
        <button @click="addName">Add Name</button>
    </div>

    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                newName: '',
                names: ['Taufan', 'Keti', 'Ria', 'Haya', 'Sela']
            },

            methods: {
                addName(){
                    this.names.push(this.newName),
                    this.newName = ''
                }
            }
        })
    </script>
</body>
</html>